h1{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size:600%;
  color:#3C096C;
  text-align: center;
  margin-top:40px;
  margin-bottom: 10px;
}

h2{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-left:20px;
  margin-right:20px;
  font-size:300%;
  color:rgb(250, 250, 250);
  background-color:#5A189A;
  padding: 0.5%;
}

h3{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:290%;
  color:rgb(98, 28, 163);
  margin-left:80px;
  margin-right:80px;
}

h4{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-left:120px;
  margin-right:120px;
  color:#5A189A;
}

h5{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-left:120px;
  margin-right:120px;
}

p{
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 170%;
  color:rgb(129, 76, 179);
  margin-left:120px;
  margin-right:120px;
}

a:link{
    color:rgb(145, 60, 194);
    background-color:transparent;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 170%;
    text-decoration: none;
}

a:hover{
    color:rgb(93, 14, 112);
    background-color:transparent;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 170%;
    text-decoration: none;
}

a:visited{
    color:rgb(145, 60, 194);
    background-color: transparent;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 170%;
    text-decoration: none;
}

body{
    background-color:rgb(252, 244, 228);
}

hr{
    background-color:rgb(133, 69, 175);
    border:0;
    height:2px;
}

ul{
    list-style: none;
    min-width: 40%;
    margin-left:3%;
    margin-top:0%;
    margin-bottom:-0.15%;
    padding:0%;
    overflow: hidden;
    text-align: center;
}

li{
    font-family: monospace;
    float:left;
    padding:2%;
    padding-left:3%;
    padding-right:3%;
    display: list-item;
    unicode-bidi: isolate;
}

ul li a:link{
    color:rgb(255, 251, 245);
    font-size: 150%;
    text-decoration: none;
}

ul li a:hover{
    font-size:150%;
    text-decoration: none;
}

ul li a:visited{
    color:rgb(255, 251, 245);
    font-size: 150%;
    text-decoration: none;
}

.flipbook{
  position:relative;
  width:500px;
  height: 300px;
  perspective:1000px

}

.page{
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility: hidden;
  transition:transform 0.5s;
}

.page.flipped{
  transform:rotateY(180deg);
}

.card
{
  display: flex;
  gap:18px;
  border:2px solid #e2e2e233;
  border-radius: 16px;
  align-items: center;
  background: rgba(107, 106, 98, 0.096);
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom:20px;
  margin-top:20px;
}

.panel
{
  border-radius: 16px;
  background: rgba(156, 80, 207, 0.267);
  border:2px solid #e2e2e233;
  margin-left: 40px;
  margin-right:40px;
  margin-top:20px;
  margin-bottom:20px
}

.links_bar{
  background-color: rgb(99, 50, 145); 
  margin-right:80px;
  margin-left: 80px;
  margin:0.8%;
  padding-left:32.8%;
  padding-right:2%;
  border-radius: 6px;
}

.active{
  background-color: rgb(174, 115, 230);
  color:rgb(145, 60, 194);
}